@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Удаление аккаунта</h4>

<div class="row">
    <div class="col-md-6">
        <p>Вы можете удалить свой аккаунт.</p>
        <p>
            <strong>Удаление учетной записи повлечет за собой удаление всех находок, связанных с данной учетной записью без возможности восстановления.</strong>
        </p>
        @*<form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>*@
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Удалить учетную запись</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}