@model List<string>;


@{
    if (Model.Count != 0)
    {
        <h3 class="search-result">Результаты поиска</h3>
        <ul class="users-list">
            @{
                foreach (string user in Model)
                {
                    <li class="user-item"><a class="user-item-link" asp-action="User" asp-route-name="@user">@user</a></li>
                }
            }
        </ul>
    }
    else
    {
        <h3 class="search-result">Поиск не дал результатов</h3>
    }
}

<script>
         @*$(function () {
             $("#NextButton").click(function () {
                 FindByName(@nextOffset);
            });

             $("#PrevButton").click(function () {
                 FindByName(@prevOffset);
            });

            function FindByName(offset) {
                $("#usersList").text("");
                $("#loader").css("display", "flex");
                $.ajax({
                    url: "@Url.Action("FindByName")",
                    type: "GET",
                    data: "name=" + $("#searchInput").val() + "&offset=" + offset,
                    success: function (response) {
                        $("#loader").css("display", "none");
                        $("#usersList").html(response);
                    },
                });
            }
        });*@
</script>