@model List<string>
@{
    ViewData["Title"] = "Все пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="h4 font-weight-normal">Все пользователи</h1>
</div>

@*/////////////Find User by Name*@
<div class="form-inline my-2 my-lg-3">
    <div class="input-group mb-3 mx-auto float-right">
        <input type="text" id="searchInput" class="form-control" placeholder="Поиск по имени" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="findButton">Найти</button>
        </div>
    </div>
</div>

<div id="loader" class="loader">
    <img src="~/imagesFE/load_indicator.gif" />
</div>

<div id="usersList">
</div>




@section Scripts
{
    <script>
        ///////
        //AJAX Request on load
        $(document).ready(function () {
            $("#loader").css("display", "flex");
            $.ajax({
                    url: "@Url.Action("GetAllUsers")",
                    type: "GET",
                    data: "offset=" + 0,
                    success: function (response) {
                        $("#loader").css("display", "none");
                        $("#usersList").html(response);
                    },
            });
        })


        ///////
        //AJAX Find By Name
        $(function () {
            $("#findButton").click(function() {
                if ($("#searchInput").val()) {
                    $("#usersList").text("");
                    $("#loader").css("display", "flex");
                    $.ajax({
                        url: "@Url.Action("FindByName")",
                        type: "GET",
                        data: "name=" + $("#searchInput").val(),
                        success: function (response) {
                            $("#loader").css("display", "none");
                            $("#usersList").html(response);
                        },
                    });
                }
            });
        });
    </script>
}


@section CSS{
    <link rel="stylesheet" href="~/css/AllUsers.css" />
}