@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email подтвержден!";
}

<h1>@ViewData["Title"]</h1>
<p>Поздравляем!</p>
<p>Теперь вы можете авторизироваться, используя свой логин и пароль.</p>