@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Завершение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Для завершения регистрации необходимо подтвердить указанный адрес электронной почты.<br />
            На ваш email было отправлено письмо, просто перейдите по ссылке внутри него.
        </p>
    }
    else
    {
        <p>
            Пожалуйста, проверьте вашу электронную почту.
        </p>
    }
}
