@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="menu-item reg-link-push">
        <a class="menu-item-text reg-link-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет, @User.Identity.Name!</a>
    </li>
    <li class="menu-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit"  class="menu-item-text reg-link-text exit-btn">Выйти</button>
        </form>
    </li>
}
else
{
    <li class="menu-item reg-link-push">
        <a class="menu-item-text reg-link-text" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="menu-item">
        <a class="menu-item-text reg-link-text" asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </li>
}

