@model GetFindModel
@{
    ViewData["Title"] = Model.FindName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="h4 font-weight-normal">@Model.FindName</h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        @{ if (Model.Photo2 != null)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            }
            if (Model.Photo3 != null)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            }
        }
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="false">
            <img src="~/FindsPhotos/@Model.Photo1" class="d-block w-100" alt="@Model.Photo1">
        </div>
        @{ if (Model.Photo2 != null)
            {
                <div class="carousel-item" data-interval="false">
                    <img src="~/FindsPhotos/@Model.Photo2" class="d-block w-100" alt="@Model.Photo2">
                </div>
            }
            if (Model.Photo3 != null)
            {
                <div class="carousel-item" data-interval="false">
                    <img src="~/FindsPhotos/@Model.Photo3" class="d-block w-100" alt="@Model.Photo3">
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>